/*
  Author:   Sebastian Ekström ( @seb_ekstrom )
  Article:  http://zerosixthree.se/vertical-align-anything-with-just-3-lines-of-css/
 */

%vertical-align {
  position: relative;
  top: 50%;
  transform: translateY( -50% );
}
