@mixin content-anchor( $dormant-color: #00f, $active-color: #c0c ) {
  a:link,
  a:visited {
    border-bottom: 1px dashed $dormant-color;
    color: $dormant-color;
    text-decoration: none;
    transition: all 0.5s ease;
  }

  a:active,
  a:focus,
  a:hover {
    border-bottom: 1px solid $active-color;
    color: $active-color;
  }
}
